<ion-view view-title="Symetra">
  <ion-content>
    <h1 class="title">What is you client's main goal?</h1></br>
    <h4 class="subtitle">How Much can their annual income grow?</h4>
    <ion-list>
      <a ui-sref="app.browse">
      <button class="bfull"  ion-button full>How much will they have if they invest now?</button></br>
</a>
<a ui-sref="app.annualGrowth">
            <button class="bfull" ion-button full>How much can their annual income grow?</button></br>

</a>
</a>
<a ui-sref="app.further">
            <button class="bfull" ion-button full>Cost to have a further annual income?</button></br>

</a>
      
    </ion-list>
  </ion-content>
</ion-view>